.App {
  height: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 2%;
}

.time {
  margin: 0;
}

.options {
  margin-top: 16px;
}
table {
  display: inline-block;
}
td {
  padding: 4px;
}

.btn {
  cursor: pointer;
  color: white;

  font-size: 18px;
  width: 150px;
  height: 150px;

  border-color: transparent;
  border-radius: 14px;
}

.btn-onoff {
  cursor: pointer;
  color: #222222;

  font-size: 14px;
  font-weight: bold;
  width: 150px;
  height: 50px;

  border-color: transparent;
  border-radius: 14px;
}

.btn-submit {
  cursor: pointer;
  background-color: #434343;
  color: white;

  font-size: 18px;
  font-weight: bold;
  width: 310px;
  height: 4rem;

  border-color: transparent;
  border-radius: 14px;

  margin-top: 2%;
}
